{% extends 'main.html' %}
{% load static %}


{% block content %}
<div class="page-heading header-text">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h3>Your Cart</h3>
      </div>
    </div>
  </div>
</div>

<div class="container mt-5">
    <table class="table">
        <thead>
            <tr>
                <th scope="col" class="h3">#</th>
                <th scope="col" class="h3">Thumbnail</th>
                <th scope="col" class="h3">Game Name</th>
                <th scope="col" class="h3">Price</th>
                <th scope="col" class="h3"></th>
            </tr>
        </thead>
        <tbody>
            {% for game_item in games.all %}
            <tr class="align-middle">
                <th scope="row">{{ game_item.id }}</th>
                <td><img class="rounded" src="{{ game_item.game.image_url }}" alt="" style="width: 30%;"></td>
                <td class="h5">{{ game_item.game.title }}</td>
                <td class="h5 align-left">${{ game_item.game.price }}</td>
                <td><button data-game={{game.id}} data-action="remove" class="badge bg-light text-dark update-cart" style="border: 0;"><i class="bi bi-trash"></i></button></td>
            </tr>
            {% endfor %}
            <!-- Add more rows for additional games -->
        </tbody>
    </table>
    <div class="row mt-5">
        <div class="col-10">
            <h4>Total: ${{cartTotal}}</h4>
        </div>
        <div class="col-md-1">
            <button class="btn btn-primary btn-lg">Checkout</button>
        </div>
    </div>
</div>

{% endblock content %}
