{% extends 'main.html' %}
{% load static %}

{% block content %}
<div class="page-heading header-text">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h3>Checkout</h3>
        <span class="breadcrumb"><a href="#">Home</a>  >  Cart > Checkout</span>
      </div>
    </div>
  </div>
</div>

<div class="checkout-page section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6" id="form-wrapper">
                <div class="card p-4">
                    <form id="form" action="javascript:void(0);" onSubmit="formsubmit(event)">
                        <div id="user-info">
                          <div class="row">
                            <div class="col">
                              <div class="form-field">
                                <input required class="form-control" type="text" name="name" placeholder="Name...">
                              </div>
                            </div>
                            <div class="col">
                              <div class="form-field">
                                <input required class="form-control" type="email" name="email" placeholder="Email...">
                              </div>
                            </div>
                          </div>
                        </div>

                        <div id="shipping-info">
                          <hr>
                          <p>Shipping Information</p>
                          <hr>
                          
                          <div class="row" style="padding-bottom: 10px;">
                            <div class="col">
                              <div class="form-field">
                                <input class="form-control" type="text" name="address" placeholder="Address...">
                              </div>
                            </div>
                            <div class="col">
                              <div class="form-field">
                                <input class="form-control" type="text" name="city" placeholder="City...">
                              </div>
                            </div>
                          </div>
                          <div class="row" style="padding-bottom: 10px;">
                            <div class="col">
                              <div class="form-field">
                                <input class="form-control" type="text" name="state" placeholder="State...">
                              </div>
                            </div>
                            <div class="col">
                              <div class="form-field">
                                <input class="form-control" type="text" name="zipcode" placeholder="Zip code...">
                              </div>
                            </div>
                          </div>

                          <div class="row">
                            <div class="col">
                              <div class="form-field">
                                <input class="form-control" type="text" name="country" placeholder="Country...">
                              </div>
                            </div>
                          </div>
                        </div>
                        <br>
                        <button id="form-button" class="btn btn-primary" type="submit">
                          Continue
                          </button>
                    </form>
                    <hr>
                    <div class="col-lg-6 d-none" id="payment-info">
                      <small>Payment Info</small>
                      <button id="make-payment">Make Payment</button>
                    </div>
                </div>
            </div>

            <br>
            
            <div class="col-lg-6" id="item-info">
              <div class="card p-4">
                <div class="row">
                  <div class="col-6">
                    <a class="btn btn-outline-secondary" href="{% url 'cart' %}"><i class="bi bi-arrow-left"></i> Back to Cart</a>
                  </div>
                </div>
                <hr>
                <h3>Order Summary</h3>
                <hr>
                {% for game_item in games.all %}
                <div class="row p-3 align-items-center">
                  <div style="flex:2"><img style="width: 50%;" class="row rounded" src="{{ game_item.game.image_url }}" alt=""></div>
                  <div style="flex:2"><p>{{ game_item.game.title }}</p></div>
                  <div style="flex:1"><p>${{ game_item.game.price }}</p></div>
                </div>
                {% endfor %}
                <hr>
                <div>
                  <h5 class="p-1">Items: {{cartItems}}</h5>
                  <h5 class="p-1">Total: ${{cartTotal|floatformat:2}}</h5>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>

<!-- For Physical Item -->
<script type="text/javascript">

  var total = '{{cartTotal|floatformat:2}}'

  var digital = '{{order.digital}}'
  
  if(digital == 'True') {
    document.getElementById('shipping-info').innerHTML = ''
  }

  if (user != 'AnonymousUser'){
    document.getElementById('user-info').innerHTML = ''
  }

  function formsubmit(e){
    e.preventDefault();
    console.log('Submitting data...');

    var formBtn = document.getElementById('form-button');
    var paymentInfo = document.getElementById('payment-info');

    formBtn.classList.add('d-none');
    paymentInfo.classList.remove('d-none');
    return 0; 
  }

  document.getElementById('make-payment').addEventListener('click', function(e){
    submitFormData()
  })

  function submitFormData(){
    console.log('Payment button clcik...')

    var userFormData = {
      'name':null,
      'email':null,
      'total':total,
    }

    var shippingInfo = {
      'address':null,
      'city':null,
      'state':null,
      'zipcode':null,
    }

    var shipping = '{{order.shipping}}'
    // var total = '{{order.get_cart_total}}'

    if(shipping == 'False'){
      shippingInfo.address = form.address.value
      shippingInfo.city = form.city.value
      shippingInfo.state = form.state.value
      shippingInfo.zipcode = form.zipcode.value
    }
  
  
    if(user == 'AnonymousUser'){
      userFormData.name = form.name.value
      userFormData.email = form.email.value
    }

    var url = '/process-order/'

    fetch(url,{
      method:'POST',
      headers: {
        'Content-Type': 'application/json',
        'X-CSRFToken': csrftoken,
      },
      body: JSON.stringify({'form': userFormData,
                          'shipping':shippingInfo})
    })
    .then((response)=>response.json())
    .then((data)=>{
      console.log('Success:', data);
      alert('Transaction completed successfully');
      window.location.href = "{% url 'shop' %}";
    })

  }

</script>
{% endblock content %}