{% load static %}

<!-- Header Section Begin -->
<nav class="main-nav">
    <!-- ***** Logo Start ***** -->
    <a href="{% url 'home' %}" class="logo">
        <h2 style="color: azure;">GamersEdge</h2>
        <!-- <img src="{% static 'images/logo.png' %}" alt="" style="width: 158px;"> -->
    </a>
    <!-- ***** Logo End ***** -->
    <!-- ***** Menu Start ***** -->
    <ul class="nav">
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'shop' %}">Our Shop</a></li>
        <li><a href="{% url 'contact' %}">Contact Us</a></li>
        {% if request.user.is_authenticated %}
            {% with profile=request.user.userprofile %}
                <li><a href="{% url 'profile' profile.id %}">{{ request.user.username }}</a></li>
            {% endwith %}
            <li><a href="{% url 'logout' %}">Sign Out</a></li>
        {% else %}
            <li><a href="{% url 'login' %}">Sign In</a></li>
        {% endif %}
    </ul>   
    <a class='menu-trigger'>
        <span>Menu</span>
    </a>
    <!-- ***** Menu End ***** -->
</nav>
<!-- Header End -->